@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.header, #section1 {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    color: #f9faf8;
}

.header {
    justify-content: space-evenly;
    padding: 10px 20px;
    gap: 20%;
}

.title {
    color: #f9faf8;
    font-size: 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.navbar a:hover {
    color: grey;
}

#section1 {
    justify-content: center;
    padding: 5% 40px 7%;
}

.main-text h1 {
    font-size: 48px;
    font-weight: 900;
    max-width: 500px;
    line-height: 1.2;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 450px;
    line-height: 1.5;
}

.btn {
    background-color: #3882f6;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    align-self: flex-start;
    margin-top: 5px;
}

.btn:hover {
    background-color: #2563EB;
}

.image-placeholder {
    width: 650px;
    height: 250px;
    background-color: #4B5563;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9CA3AF;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#section2 {
    padding: 3% 40px 7%;
    background-color: #F3F4F6;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header h3 {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.illustrations {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    width: 100%;
}

.illustration-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.illustration {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}

.illustration-placeholder p {
    font-size: 14px;
    color: #1F2937;
    max-width: 150px;
    margin-top: 5%;
}

#section3 {
    padding: 7% 40px 7%;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    max-width: 45%;
    margin: 0 auto; 
    font-weight: 100;
    font-style: italic;
}

.autor {
    font-size: 27px;
    color: #1F2937;
    margin-left: 27%;
    max-width: 45%; 
    font-weight: bold;
}

#section4 {
    padding: 5% 40px 5%;
    background-color: #F3F4F6;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #3882f6;
    min-width: 70%; 
    padding: 3%;
    border-radius: 10px;
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
}

.action-text {
    font-size: 18px;
    color: #E5E7EB;
    text-align: left; 
}

.btn-action {
    background-color: #3882f6;
    border: 3px solid #E5E7EB;
    color: #E5E7EB;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn-action:hover {
    background-color: #2a26fc;
}

.footer {
    background-color: #1F2937; 
    color: #E5E7EB;
    text-align: center;
    padding: 2%;
    font-size: 18px;
}